# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
google_play/
my-release-key.keystore
zipalign
graphics/
icon/
sample_data/